<!-- Sidebar -->
<nav id="sidebar" [class.active]="isSidebarOpen">
  <div class="sidebar-header d-flex justify-content-between align-items-center px-3">
    <a class="fw-bold text-decoration-none" style="margin-bottom: 20px; cursor: pointer;" routerLink="/dashboard">App Branding</a>
    <!-- Close button (only on small screens & when sidebar is open) -->
    <button *ngIf="isSidebarOpen" class="btn btn-sm btn-outline-light d-lg-none" (click)="toggleSidebar()">✖</button>
  </div>
  <ul class="list-unstyled px-2">
    <li [appHideIfClaimsNotMet]="claimReq.adminOnly"><a class="text-light d-block py-2 px-3" routerLink="/admin-only">Admin</a></li>
    <li [appHideIfClaimsNotMet]="claimReq.adminOrFactoryManager"><a class="text-light d-block py-2 px-3" routerLink="/admin-or-factory-manager">Factory Manager</a></li>
    <li [appHideIfClaimsNotMet]="claimReq.hasLocationId"><a class="text-light d-block py-2 px-3" routerLink="/admin-or-shop-manager">Shop Manager</a></li>
    <li [appHideIfClaimsNotMet]="claimReq.femaleAndAdmin"><a class="text-light d-block py-2 px-3" routerLink="/apply-for-maternity-leave">Maternity Leave</a></li>
  </ul>
</nav>

<!-- Main Content -->
<div id="main" [class.expanded]="!isSidebarOpen">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <!-- Open button (only on small screens & when sidebar is closed) -->
      <button *ngIf="!isSidebarOpen" class="btn btn-outline-dark me-3 d-md-inline d-lg-none" (click)="toggleSidebar()">☰</button>
      
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <h3 class="display-6 fw-bold text-primary mb-0">{{ fullName }}</h3>
      <button class="btn btn-dark" (click)="onLogout()">Logout</button>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
