<div class="auth-container" @fadeInUp>
  <h2 class="text-success text-center mb-4">Sign In</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input
        class="form-control bg-body-secondary"
        placeholder="Email"
        formControlName="email"
      />
      <div
        class="error-feedback"
        *ngIf="hasDisplayableError('email') && form.controls.email.hasError('required')"
      >
        Please enter your email
      </div>
    </div>

    <div class="mb-3">
      <input
        type="password"
        class="form-control bg-body-secondary"
        placeholder="Password"
        formControlName="password"
      />
      <div
        class="error-feedback"
        *ngIf="hasDisplayableError('password') && form.controls.password.hasError('required')"
      >
        Please enter your password
      </div>
    </div>

    <button type="submit" class="btn btn-success w-100 rounded-3 shadow-sm">
      Login
    </button>
  </form>

  <div class="mt-4 text-center">
    If you don't have an account?
    <a routerLink="/signup" class="text-decoration-none fw-medium text-success d-inline-block">Sign Up</a>
  </div>
</div>
